<Layouts.app flash={@flash} current_scope={@current_scope}>
  <div id="signup">
    <div data-part="container">
      <div data-part="header">
        <.header>
          Register for an account
          <:subtitle>
            Already registered?
            <.link navigate={~p"/users/log-in"} class="font-semibold text-brand hover:underline">
              Log in
            </.link>
            to your account now.
          </:subtitle>
        </.header>
      </div>

      <.form :let={f} for={@changeset} action={~p"/users/register"} data-part="form">
        <.input
          field={f[:email]}
          type="email"
          label="Email"
          autocomplete="username"
          spellcheck="false"
          required
          phx-mounted={JS.focus()}
        />

        <div :if={@turnstile_site_key} id="signup-verification" data-part="verification">
          <div
            class="cf-turnstile"
            data-sitekey={@turnstile_site_key}
            data-action={@turnstile_action}
            data-size="flexible"
            data-theme="auto"
          >
          </div>
          <noscript>JavaScript is required to verify this registration.</noscript>
        </div>

        <.button phx-disable-with="Creating account..." class="btn btn-primary w-full">
          Create an account
        </.button>
      </.form>

      <script
        :if={@turnstile_site_key}
        src="https://challenges.cloudflare.com/turnstile/v0/api.js"
        async
        defer
      >
      </script>
    </div>
  </div>
</Layouts.app>
