#flash-group {
  background: var(--blue);
  color: #fff;

  & > [data-part="message"] {
    margin-inline: auto;
    padding: var(--space-1) 0;
    transition: opacity 180ms ease;
    width: min(100% - 2rem, 960px);

    &[data-state="dismissing"] {
      opacity: 0;
    }
  }

  &:not(:has([data-part="message"])) {
    display: none;
  }
}
